@charset "UTF-8";

footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
  position: absolute;
  height: 180px;
  width: 100%;
  padding: 0 25px;
  color: #8a8c8f;
  border-top: 1px solid #dee5e7;
  background-color: #f2f2f2;
}

footer > div {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	
}

footer > div > button {
	border: 1px solid #BBB;
}


footer > div:nth-child(1) {
	margin-top: 30px;
}

footer > div > a {
	color: #978c8f;
	margin-right: 10px;
}

footer > div > a:hover{
	color: black;
}

